<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- top nav -->

<nav th:fragment="navbar" class="ui top fixed inverted blue menu">
    <div class="left menu">
        <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
            <i class="sidebar icon"></i>
        </a>
        <a href="#" class="header item">
            <i class="fire icon"></i>E-Ticaret Otomasyonu
        </a>
    </div>

    <div class="right menu">
        <a href="#" class="item">
            <i class="bell icon"></i>
        </a>
        <div class="ui dropdown item">
            <i class="user cirlce icon"></i>
            <div class="menu">
                <a href="#" class="item">
                    <i class="wrench icon"></i>
                    Ayarlar</a>
                <a href="#" class="item">
                    <i class="sign-out icon"></i>
                    Çıkış Yap
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- top nav -->


</body>
</html>