<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- sidebar -->
<div th:fragment="sidebar" class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">

    <a href="#" class="item">
        <div>
            <i class="icon chess king icon"></i>
            Admin Paneli
        </div>
    </a>


    <div class="item">
        <div class="header"><i class="shopping cart icon"></i>
            E-Ticaret
        </div>
        <div class="menu">
            <a class="item">
                <div><i class="user icon"></i>Müşteri Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="gift icon"></i>Ürün Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="credit card icon"></i>Sipariş Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="chart bar outline icon"></i>Reklam Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="wpforms icon"></i>Formlar</div>
            </a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            <i class="plus icon"></i>Diğer
        </div>
        <div class="menu">
            <a class="item">
                <div><i class="clipboard outline icon"></i>İçerik Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="image icon"></i>Galeri Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="bullhorn icon"></i>Duyurular</div>
            </a>
            <a class="item">
                <div><i class="newspaper outline icon"></i>Haber Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="thumbs up otline icon"></i>Beğeni Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="check square outline icon"></i>Anket Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="bullhorn icon"></i>Duyuru Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="comment outline icon"></i>Mesaj Yönetimi</div>
            </a>
            <a class="item">
                <div><i class="shopping basket icon"></i>Sipariş Yönetimi</div>
            </a>
        </div>
    </div>

    <a href="#" class="item">
        <div>
            <i class="cloud icon"></i>
            API Yönetimi
        </div>
    </a>

    <div class="item">
        <form action="#">
            <div class="ui mini action input">
                <input type="text" placeholder="Search..." />
                <button class="ui mini icon button">
                    <i class=" search icon"></i>
                </button>
            </div>
        </form>
    </div>

</div>

<!-- sidebar -->



</body>
</html>