<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/inc/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Galeri</title>

</head>
<body>
<th:block layout:fragment="content" >

  <div class="pusher">
    <div class="main-content">

      <div class="ui container">


<!--          ui hidden divider margin top veya margin bottom gibi çalışır -->
          <div class="ui hidden divider"></div>

          <select id="multiple_select"  name="skills" multiple="" class="ui fluid dropdown">
              <option value="angular">Skills</option>
              <option value="angular">Angular</option>
              <option value="css">CSS</option>
              <option value="design">Graphic Design</option>
              <option value="ember">Ember</option>
              <option value="html">HTML</option>
              <option value="ia">Information Architecture</option>
              <option value="javascript">Javascript</option>
              <option value="mech">Mechanical Engineering</option>
              <option value="meteor">Meteor</option>
              <option value="node">NodeJS</option>
              <option value="plumbing">Plumbing</option>
              <option value="python">Python</option>
              <option value="rails">Rails</option>
              <option value="react">React</option>
              <option value="repair">Kitchen Repair</option>
              <option value="ruby">Ruby</option>
              <option value="ui">UI Design</option>
              <option value="ux">User Experience</option>
          </select>

<!--          İçerik ekleme ve filtreleme Başlangıç -->
       <div class="row">

           <button  onclick="fnc2()" class="ui button yellow create_btn" type="button" id="test">Duyuru Ekle</button>
           <div class="ui black buttons right floated">
               <div class="ui button">Seç</div>
               <div class="ui floating dropdown icon button">
                   <i class="dropdown icon"></i>
                   <div class="menu">
                       <div class="item"><i class="edit icon"></i>Aktif İçerikler</div>
                       <div class="item"><i class="hide icon"></i>Pasif İçerikler</div>
                   </div>
               </div>
           </div>
       </div>

<!--          İçerik ekleme ve filtreleme Bitiş-->
          <div class="ui hidden divider"></div>


<!--          Pagination ve arama başlangıç-->
          <div class="ui stackable ten column grid">
              <div class="column">
                  <h4><strong>Sayfa/İçerik</strong></h4>
              </div>

              <div class="column">
                  <select id="multipleSelect"  class="ui dropdown">
                      <option value="1">Text 1</option>
                      <option value="2">Text 2</option>
                      <option value="3">Text 3</option>
                  </select>
              </div>

              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column">
                  <div class="right floated column">
                      <div class="ui category search right floated">
                          <div class="ui icon input">
                              <input class="prompt" type="text" placeholder="Arama Yapın...">
                              <i class="search icon"></i>
                          </div>
                          <div class="results"></div>
                      </div>
                  </div>

              </div>
          </div>
<!--          Pagination ve arama bitiş-->

          <table class="ui celled padded table">
              <thead>
              <tr><th class="single line">Durum</th>
                  <th>Başlık</th>
                  <th>Açıklama</th>
                  <th>Eklenme Tarihi</th>
                  <th>İşlem</th>
              </tr></thead>
              <tbody id="tableRow">

              </tbody>
              <tfoot >
          <tr>

              <th colspan="6">
              <div id="emp_body" class="ui right floated pagination menu">
                  <a class="icon item">
                      <i class="left chevron icon"></i>
                  </a>

                  <a class="icon item">
                      <i class="right chevron icon"></i>
                  </a>
              </div>
          </th>
          </tr></tfoot>
          </table>



          <!--- Modal --->

          <div class="ui  modal test" id="modalshow">

                  <div class="header">Header</div>
                  <div class="content">
                      <p></p>
                  </div>
                  <div class="actions">
                      <div class="ui approve button">Approve</div>
                      <div class="ui button">Neutral</div>
                      <div class="ui cancel button">Cancel</div>
                  </div>

          </div>


          <div class="ui modal tests">
              <i class="close icon"></i>
              <div class="header">
                  Profile Picture
              </div>

              <div class="actions">
                  <div class="ui black deny button">
                      Nope
                  </div>
                  <div class="ui positive right labeled icon button">
                      Yep, that's me
                      <i class="checkmark icon"></i>
                  </div>
              </div>
          </div>


          <div class="ui modal duzenle">
              <i class="close icon"></i>
              <form method="POST" id="duzenle" >
                  <div class="ui form">
                      <div class="ui hidden divider"></div>
                      <div class="field">
                          <label>Başlık</label>
                          <input id="başlık" type="text" name="announcementTitle" placeholder="Başlık">
                      </div>
                      <div class="ui hidden divider"></div>
                      <div class="field">
                          <label>Yorum</label>
                          <textarea type="text" id="yorum" name="announcementComment" placeholder="Yorum"></textarea>
                      </div>
                      <div class="ui hidden divider"></div>
                      <div class="field ">
                          <label>Tarih</label>
                          <input id="date" type="date" name="announcementDate" >
                      </div>
                  </div>
                  <div class="ui hidden divider"></div>

                  <div class="actions">
                      <div class="ui black deny button">
                          Kapat
                      </div>
                      <button type="submit" class="ui positive right labeled icon button">
                          Gönder
                          <i class="checkmark icon"></i>
                      </button>

                  </div>
              </form>
          </div>


      </div>
 </div>

    </div>

    <script>
        function fnc(){
        $(function(){
            $("#tests").click(function(){
                $(".tests").modal('show');
            });
            $(".tests").modal({
                closable: true
            });
        });
        }

        function fnc2(){
            $(function(){
                $("#test").click(function(){
                    $(".test").modal('show');
                });
                $(".tests").modal({
                    closable: true
                });
            });
        }


    </script>

    <script th:src="@{/sitejs/gallery.js}" ></script>

</th:block>

</body>
</html>