<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/inc/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Galeri</title>

</head>
<body>
<th:block layout:fragment="content" >

  <div class="pusher">
    <div class="main-content">

      <div class="ui container">


<!--          ui hidden divider margin top veya margin bottom gibi çalışır -->
          <div class="ui hidden divider"></div>



<!--          İçerik ekleme ve filtreleme Başlangıç -->
       <div class="row">

           <button  onclick="fnc2()" class="ui button yellow create_btn" type="button" id="test">Kategori Ekle</button>
           <button  onclick="fnc()" class="ui button yellow create_btn" type="button" id="tests">Alt kategori Ekle</button>

       </div>

<!--          İçerik ekleme ve filtreleme Bitiş-->
          <div class="ui hidden divider"></div>


<!--          Pagination ve arama başlangıç-->
          <div class="ui stackable ten column grid">
              <div class="column">
              </div>



              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column">
                  <div class="right floated column">
                      <div class="ui category search right floated">
                          <div class="ui icon input">
                              <input class="prompt" type="text" placeholder="Arama Yapın...">
                              <i class="search icon"></i>
                          </div>
                          <div class="results"></div>
                      </div>
                  </div>

              </div>
          </div>
<!--          Pagination ve arama bitiş-->

          <table class="ui celled padded table">
              <thead>
              <tr><th class="single line">Kategori Adı</th>
                  <th>İşlem</th>

              </tr></thead>
              <tbody id="tableRow">

              </tbody>
              <tfoot >
          <tr>

              <th colspan="6">
              <div id="emp_body" class="ui right floated pagination menu">
                  <a class="icon item">
                      <i class="left chevron icon"></i>
                  </a>

                  <a class="icon item">
                      <i class="right chevron icon"></i>
                  </a>
              </div>
          </th>
          </tr></tfoot>
          </table>
          <!--          Pagination ve arama bitiş-->


          <table class="ui celled padded table">
              <thead>
              <tr><th class="single line">Alt Kategori Adı</th>

                  <th>İşlem</th>
              </tr></thead>
              <tbody id="tableRow_sub">

              </tbody>
              <tfoot >
              <tr>

                  <th colspan="6">
                      <div id="emp_body_sub" class="ui right floated pagination menu">
                          <a class="icon item">
                              <i class="left chevron icon"></i>
                          </a>

                          <a class="icon item">
                              <i class="right chevron icon"></i>
                          </a>
                      </div>
                  </th>
              </tr></tfoot>
          </table>




          <!--- Modal --->

          <div class="ui small  modal test" id="modalshow">

                  <div class="header">Kategori</div>
              <form method="post" action="/category/addCat" class="ui form">
              <div class="content">
                      <div class="field">
                          <label>Üst Kategori</label>
                          <input type="text" name="categoryName" placeholder="Üst Kategori">
                      </div>




              </div>
              <div class="actions">
                  <button class="ui button" type="submit">Submit</button>
                  <button class="ui cancel button">Cancel</button>
              </div>
              </form>

          </div>

<!--TESTSSSS-->
          <div class="ui modal tests">
              <div class="header"> Alt Kategori</div>
              <form method="post" action="/category/addSub" class="ui form">
              <div class="content">


                      <div class="field">
                          <label>Alt Kategori</label>
                          <input type="text" name="subCategoryName" placeholder="Alt Kategori">
                      </div>




              </div>
              <div class="actions">
                  <button class="ui button" type="submit">Submit</button>
                  <button class="ui cancel button">Cancel</button>
              </div>
              </form>
          </div>


          <div class="ui modal duzenle">
              <i class="close icon"></i>
              <form method="POST" id="duzenle" >
                  <div class="ui form">
                      <div class="ui hidden divider"></div>
                      <div class="field">
                          <label>Başlık</label>
                          <input id="başlık" type="text" name="announcementTitle" placeholder="Başlık">
                      </div>
                      <div class="ui hidden divider"></div>
                      <div class="field">
                          <label>Yorum</label>
                          <textarea type="text" id="yorum" name="announcementComment" placeholder="Yorum"></textarea>
                      </div>
                      <div class="ui hidden divider"></div>
                      <div class="field ">
                          <label>Tarih</label>
                          <input id="date" type="date" name="announcementDate" >
                      </div>
                  </div>
                  <div class="ui hidden divider"></div>

                  <div class="actions">
                      <div class="ui black deny button">
                          Kapat
                      </div>
                      <button type="submit" class="ui positive right labeled icon button">
                          Gönder
                          <i class="checkmark icon"></i>
                      </button>

                  </div>
              </form>
          </div>


      </div>
 </div>

    </div>

    <script>
        function fnc(){
        $(function(){
            $("#tests").click(function(){
                $(".tests").modal('show');
            });
            $(".tests").modal({
                closable: true
            });
        });
        }

        function fnc2(){
            $(function(){
                $("#test").click(function(){
                    $(".test").modal('show');
                });
                $(".tests").modal({
                    closable: true
                });
            });
        }


    </script>

    <script th:src="@{/sitejs/category.js}" ></script>

</th:block>

</body>
</html>