<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/inc/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Reklam</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
<th:block layout:fragment="content">

    <div class="pusher">
        <div class="main-content">

            <div class="ui container">


                <!--          ui hidden divider margin top veya margin bottom gibi çalışır -->
                <div class="ui hidden divider"></div>


                <!--          İçerik ekleme ve filtreleme Bitiş-->
                <div class="ui hidden divider"></div>


                <!--          Pagination ve arama başlangıç-->
                <div class="ui stackable four column grid">

                   
                </div>
                <!--          Pagination ve arama bitiş-->

                <table class="ui celled padded table">
                    <thead>
                    <tr>
                        <th class="single line">Id</th>
                        <th>Müşteri</th>
                        <th>Ürün</th>
                        <th>Puan</th>
                        <th>Sil</th>
                    </tr>
                    </thead>
                    <tbody id="tableRow">

                    </tbody>
                    <tfoot>
                    <tr>

                        <th colspan="6">
                            <div id="emp_body" class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>

                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>



            </div>
        </div>

    </div>

    <script>
        function fnc() {
            $(function () {
                $("#tests").click(function () {
                    $(".tests").modal('show');
                });
                $(".tests").modal({
                    closable: true
                });
            });
        }

        function fnc2() {
            $(function () {
                $("#test").click(function () {
                    $(".test").modal('show');
                });
                $(".tests").modal({
                    closable: true
                });
            });
        }


    </script>

    <script th:src="@{/sitejs/vote.js}"></script>

</th:block>

</body>
</html>